*:focus {
  outline: none !important;
  outline: 0 !important; }

html, body {
  background: blue; }

body {
  font-family: sans-serif;
  position: relative;
  transition: all 0.5s ease;
  color: #000; }

h1 {
  width: 409px;
  height: 256px;
  font-family: Lato;
  font-size: 84px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left; }
  h1 span {
    font-weight: 100; }
  h1 b {
    font-weight: 300; }
