@charset "UTF-8";
/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Medium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'merriweather';
  src: url("../fonts/merriweather/Merriweather-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

*:focus {
  outline: none !important;
  outline: 0 !important; }

html, body {
  font-family: 'lato'; }

body {
  position: relative;
  transition: all 0.5s ease;
  color: #000;
  font-size: 1em;
  transition: all 0.5s ease; }

section {
  width: 100%;
  display: flex; }

.container {
  width: 100%;
  max-width: 1160px;
  padding: 0;
  margin: 0 auto; }

.inner {
  padding: 0 30px; }

header {
  background: url("../img/header.jpg");
  background-size: cover;
  padding: 170px 0 54px 0;
  background-position: 58% center; }
  header .container .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row; }
    @media (max-width: 767px) {
      header .container .inner {
        background-position: 58% center;
        flex-direction: column;
        align-items: center; } }
    @media (min-width: 768px) {
      header .container .inner {
        background-position: center;
        flex-direction: row;
        align-items: flex-end; } }
    @media (min-width: 992px) {
      header .container .inner {
        background-position: center;
        flex-direction: row;
        align-items: flex-end; } }
  header #author span {
    width: 192px;
    height: 60px;
    font-family: 'lato';
    font-size: 14px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71em;
    letter-spacing: normal;
    text-align: center;
    color: #d39a6c;
    float: left;
    margin: 10px 30px 0 0; }
    @media (max-width: 767px) {
      header #author span {
        text-align: center;
        margin: 30px 0 0 0; } }
    @media (min-width: 768px) {
      header #author span {
        text-align: right;
        margin: 10px 30px 0 0; } }
    @media (min-width: 992px) {
      header #author span {
        text-align: right;
        margin: 10px 30px 0 0; } }
  header #author .photo {
    display: none; }
    @media (min-width: 768px) {
      header #author .photo {
        display: block; } }

h1 {
  width: 178px;
  height: 104px;
  font-family: 'lato', sans-serif;
  font-size: 33px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: #ddb577;
  text-transform: uppercase;
  padding-top: 62px; }
  @media (max-width: 767px) {
    h1 {
      width: 178px;
      height: 104px;
      text-align: center;
      font-size: 33px;
      padding-top: 82px; } }
  @media (min-width: 768px) {
    h1 {
      text-align: left;
      font-size: 84px;
      width: 409px;
      height: 256px;
      padding-top: 0px; } }
  @media (min-width: 992px) {
    h1 {
      text-align: left;
      font-size: 84px;
      width: 409px;
      height: 256px;
      padding-top: 0px; } }
  h1 span {
    margin-left: -5px;
    font-weight: 100;
    color: #ddb577; }
    @media (max-width: 767px) {
      h1 span {
        color: #ddb577; } }
    @media (min-width: 768px) {
      h1 span {
        color: #0f0a06; } }
  h1 b {
    font-weight: 300;
    color: #d39a6c; }

h2 {
  margin: 88px 0 48px 0;
  font-family: 'lato';
  font-size: 40px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #666c7d; }
  @media (max-width: 767px) {
    h2 {
      font-size: 26px;
      line-height: 1.5; } }
  @media (min-width: 768px) {
    h2 {
      font-size: 40px;
      line-height: 1.2; } }

.right_img {
  float: right;
  margin: 0 0 75px 50px;
  width: 326px;
  height: 367px; }
  @media (min-width: 768px) {
    .right_img {
      width: 326px;
      height: 367px; } }
  @media (min-width: 992px) {
    .right_img {
      width: 642px;
      height: 721px; } }

p {
  font-family: 'merriweather';
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #666c7d;
  margin-bottom: 40px;
  margin-top: -8px; }
  @media (max-width: 767px) {
    p {
      font-size: 14px; } }
  @media (min-width: 768px) {
    p {
      font-size: 17px; } }

#banner {
  background: url("../img/backdrop.png");
  background-size: cover;
  margin: 25px 0 95px 0; }
  #banner h2 {
    margin: 95px 0;
    color: #d39a6c; }

footer {
  background: #edeced;
  padding-bottom: 90px; }

.carousel {
  width: 326px;
  height: 419px;
  float: left;
  margin-right: 50px; }
  @media (min-width: 768px) {
    .carousel {
      width: 326px;
      height: 419px; } }
  @media (min-width: 992px) {
    .carousel {
      width: 410px;
      height: 530px; } }

.slick-slide img {
  max-width: 100%; }

.slick-prev {
  background: url("../img/arrow-left.png") !important;
  background-color: #fff !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 37px;
  height: 48px;
  left: 0;
  z-index: 99; }
  .slick-prev:before {
    display: none; }

.slick-next {
  background: url("../img/arrow-right.png") !important;
  background-color: #fff !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 37px;
  height: 48px;
  right: 0;
  z-index: 9999999; }
  .slick-next:before {
    display: none; }

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background: #fff;
  color: #fff; }

input {
  width: 90%;
  height: 67px;
  border-radius: 12px;
  background-color: #ffffff;
  border: solid 1px rgba(102, 108, 125, 0.2);
  font-family: 'lato';
  font-size: 24px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: rgba(102, 108, 125, 0.5);
  padding: 0 20px;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    input {
      width: 602px; } }
  input::placeholder {
    opacity: 0.5;
    font-family: 'lato';
    font-size: 24px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: rgba(102, 108, 125, 0.5); }

textarea {
  width: 90%;
  height: 175px;
  border-radius: 12px;
  background-color: #ffffff;
  border: solid 1px rgba(102, 108, 125, 0.2);
  font-family: 'lato';
  font-size: 24px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: rgba(102, 108, 125, 0.5);
  padding: 0 20px;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    textarea {
      width: 602px; } }
  textarea::placeholder {
    opacity: 0.5;
    font-family: 'lato';
    font-size: 24px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: rgba(102, 108, 125, 0.5); }

.error {
  border: solid 1px #d36c6c; }

.form-error {
  display: none;
  color: #d36c6c; }

.on {
  display: block; }

.off {
  display: none; }

.button button {
  background: url("../img/arrow-submit.png");
  background-repeat: no-repeat;
  background-position: 195px 26px;
  padding-left: 30px;
  width: 100%;
  height: 67px;
  border-radius: 12px;
  background-color: #d39a6c;
  font-family: 'lato';
  font-size: 24px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff; }
  @media (max-width: 767px) {
    .button button {
      background: #d39a6c;
      width: 100%;
      text-align: center; } }
  @media (min-width: 768px) {
    .button button {
      width: 254px;
      text-align: left; } }
  @media (min-width: 992px) {
    .button button {
      width: 254px;
      text-align: left; } }

form {
  display: inline-block; }
  form h2 {
    margin: 85px 0 5px 0;
    text-align: center !important; }
    @media (max-width: 767px) {
      form h2 {
        text-align: center !important; } }
    @media (min-width: 768px) {
      form h2 {
        text-align: left !important; } }
  form h4 {
    font-family: 'merriweather';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #666c7d;
    margin-bottom: 18px;
    text-align: center !important; }
    @media (max-width: 767px) {
      form h4 {
        text-align: center !important; } }
    @media (min-width: 768px) {
      form h4 {
        text-align: left !important; } }

#extra-credit div {
  background: rgba(255, 255, 255, 0.3);
  width: 60%;
  margin: 35px auto;
  border-radius: 5px;
  border: solid 1px rgba(102, 108, 125, 0.2);
  padding: 35px; }
  #extra-credit div h4 {
    font-family: 'lato';
    color: #666c7d;
    font-size: 18px;
    margin-bottom: 10px; }
  #extra-credit div p {
    font-size: 14px; }
