
@font-face {
font-family: 'lato';
src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'lato';
src: url('../fonts/lato/Lato-Light.ttf') format('truetype');
font-weight:200;
font-style: normal;
}
@font-face {
font-family: 'lato';
src: url('../fonts/lato/Lato-Hairline.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
@font-face {
font-family: 'lato';
src: url('../fonts/lato/Lato-Medium.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'merriweather';
src: url('../fonts/merriweather/Merriweather-Light.otf') format('opentype');
font-weight: 300;
font-style: normal;
}
