
$army-green: #0f0a06;
$sand-brown:#d39a6c;
$sand:#ddb577;

@mixin breakpoint($class) {
  @if $class == sm {
    @media (max-width: 767px) { @content; }
  }
  @else if $class == md {
    @media (min-width: 768px) { @content; }
  }
  @else if $class == lg {
    @media (min-width: 992px) { @content; }
  }
  @else if $class == max_wdth {
    @media (min-width: 1160px) { @content; }
  }
  @else if $class == xl {
    @media (min-width: 1200px) { @content; }
  }
  @else {
    @warn "Breakpoint mixin supports: sm, md, lg, max_wdth, xl";
  }
}
