// Main Sass File

/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
@import "reset";
@import "fonts";
@import "layout_vars";
@import "slider";


*:focus {
    outline: none !important;
     outline: 0 !important;
}
html,body {
font-family: 'lato';
}
body   {
  //font-family:sans-serif;
  position: relative;
  transition: all 0.5s ease;
  color: #000;
  font-size: 1em;
transition: all 0.5s ease;

}
section{
  width: 100%;
  display:flex;
}
.container{
  width: 100%;
  max-width: 1160px;
  padding: 0;
  margin: 0 auto;
}
.inner {
  padding: 0 30px;
}
header{
  background: url('../img/header.jpg');
  background-size: cover;
  padding:170px 0 54px 0;
  background-position:58% center;
  .container .inner{
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
     flex-direction: row;
     @include breakpoint(sm){
       background-position:58% center;
       flex-direction: column;
       align-items:center;
     }
     @include breakpoint(md){
       background-position: center;
       flex-direction: row;
       align-items: flex-end;
     }
     @include breakpoint(lg){
       background-position: center;
       flex-direction: row;
       align-items: flex-end;
     }
  }
  #author{
    span{
      width: 192px;
     height: 60px;
     font-family: 'lato';
     font-size: 14px;
     font-weight: 200;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.71em;
     letter-spacing: normal;
     text-align: center;
     color: $sand-brown;
     float: left;
     margin:10px 30px 0 0;
     @include breakpoint(sm){
      text-align: center;
      margin:30px 0 0 0;
     }
     @include breakpoint(md){
       text-align: right;
       margin:10px 30px 0 0;
     }
     @include breakpoint(lg){
       text-align: right;
       margin:10px 30px 0 0;
     }
    }
    .photo {
      display: none;
      @include breakpoint(md){
        display: block;
      };
    }

  }
}

h1 {

  width: 178px;
 height: 104px;
  font-family: 'lato', sans-serif;
  font-size: 33px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: $sand;
  text-transform: uppercase;
  padding-top: 62px;
  @include breakpoint(sm){
    width: 178px;
 height: 104px;
    text-align: center;
    font-size: 33px;
    padding-top: 82px;
  }
  @include breakpoint(md){
    text-align: left;
    font-size: 84px;
    width: 409px;
    height: 256px;
    padding-top: 0px;
  }
  @include breakpoint(lg){
    text-align: left;
    font-size: 84px;
    width: 409px;
    height: 256px;
    padding-top: 0px;
  }

  span {
    margin-left: -5px;
    font-weight: 100;
    color: $sand;
    @include breakpoint(sm){
      color: $sand;
    }
    @include breakpoint(md){
        color: $army-green;
    }
  }
  b {
    font-weight: 300;
    color: $sand-brown;
  }
}
h2 {
  margin: 88px 0 48px 0;
  font-family: 'lato';
  font-size: 40px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #666c7d;
  @include breakpoint(sm){
      font-size: 26px;
        line-height: 1.5;
  }
  @include breakpoint(md){
      font-size: 40px;
        line-height: 1.2;
  }
}
.right_img {
  float:right;
  margin:0 0 75px 50px;
  width: 326px;
  height: 367px;
  @include breakpoint(md){
    width: 326px;
    height: 367px;
  }
  @include breakpoint(lg){
    width: 642px;
    height: 721px;
  }
}
p {
  font-family: 'merriweather';
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #666c7d;
  margin-bottom: 40px;
  margin-top: -8px;
  @include breakpoint(sm){
    font-size: 14px
  }
  @include breakpoint(md){
    font-size: 17px
  }
}
#banner{
  background: url('../img/backdrop.png');
  background-size: cover;
  margin:25px 0 95px 0;
  h2{
    margin: 95px 0;
    color: $sand-brown;
  }
}
footer {
  background:#edeced;
 padding-bottom:90px;
}
.carousel {
  width: 326px;
  height: 419px;
  float: left;
  margin-right: 50px;
  @include breakpoint(md){
    width: 326px;
    height: 419px;
  }
  @include breakpoint(lg){
    width: 410px;
    height: 530px;
  }
}
.slick-slide img {
  max-width: 100%;
}
.slick-prev {
  background: url('../img/arrow-left.png') !important;
  background-color: #fff !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 37px;
  height:48px;
  left: 0;
  z-index: 99;
  &:before{
    display: none;
  }
}
.slick-next {
  background: url('../img/arrow-right.png') !important;
  background-color: #fff !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 37px;
  height:48px;
  right: 0;
  z-index: 9999999;
  &:before{
    display: none;
  }
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
  background: #fff;
  color: #fff;
}
input {
  width:90%;
  height: 67px;
  border-radius: 12px;
  background-color: #ffffff;
  border: solid 1px rgba(102, 108, 125, 0.2);
  font-family: 'lato';
  font-size: 24px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: rgba(102, 108, 125, 0.5);
  padding:0 20px;
  margin-bottom: 10px;
  @include breakpoint(md){
    width: 602px;
  }
  &::placeholder{
    opacity: 0.5;
    font-family: 'lato';
    font-size: 24px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: rgba(102, 108, 125, 0.5);
  }
}
textarea  {

  width: 90%;
  height: 175px;
  border-radius: 12px;
  background-color: #ffffff;
  border: solid 1px rgba(102, 108, 125, 0.2);
  font-family: 'lato';
  font-size: 24px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: rgba(102, 108, 125, 0.5);
  padding:0 20px;
  margin-bottom:10px;
    @include breakpoint(md){
      width: 602px;
    }
  &::placeholder{
    opacity: 0.5;
    font-family: 'lato';
    font-size: 24px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: rgba(102, 108, 125, 0.5);
  }
}
.error {
  border: solid 1px #d36c6c;
}

.form-error {
  display: none;
  color: #d36c6c;
}
.on {
  display: block;
}
.off {
  display: none;
}
.button button{
  background: url('../img/arrow-submit.png');
  background-repeat:no-repeat;
  background-position: 195px 26px;
  padding-left: 30px;
  width:100%;
  height: 67px;
  border-radius: 12px;
  background-color: $sand-brown;
  font-family: 'lato';
  font-size: 24px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  @include breakpoint(sm){
    background: $sand-brown;
    width:100%;
    text-align: center;
  }
  @include breakpoint(md){
    width: 254px;
    text-align: left;
  }
  @include breakpoint(lg){
    width: 254px;
    text-align: left;
  }
}
form {
  display: inline-block;

  h2{
    margin: 85px 0 5px 0;
    text-align: center !important;
    @include breakpoint(sm){
      text-align: center !important;
    }
    @include breakpoint(md){
      text-align: left !important;
    }
  }
  h4{
    font-family: 'merriweather';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #666c7d;
    margin-bottom: 18px;
    text-align: center !important;
    @include breakpoint(sm){
      text-align: center !important;
    }
    @include breakpoint(md){
      text-align: left !important;
    }
  }
}
#extra-credit div {
  background:rgba(255, 255, 255, 0.3);
  width: 60%;
  margin: 35px auto;
  border-radius: 5px;
  border: solid 1px rgba(102, 108, 125, 0.2);
  padding: 35px;
  h4{
    font-family: 'lato';
    color: #666c7d;
    font-size: 18px;
    margin-bottom:10px;
  }
  p {
    font-size: 14px;
  }
}
